* {
    padding: 0;
    margin: 0;
}


body {

    color: 	rgb(173,216,230) !important;
    background-image: url('download.jpeg') !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div {
    border-radius: 10px;
}

nav {
    background-color: rgb(77, 162, 247) !important;
}

.container {
    margin: 0.5rem;
    color: black;

}

.col {

    margin-left: 5%;
    font-size: 2rem;
    /* background-color: black; */
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

i {
    position: relative !important;
}

.fa-spin {
    margin-left: 3rem;
}

form {
    background-color: RGB(62, 62, 214) !important;
    color: black;

}

.chart-container {
    margin-left: 20%;
    background-color: rgb(214, 212, 212);

}
@media only screen and (max-width: 600px) {
  /* Styles for mobile view */
  .container {
    width: 100% !important;
  }
}

a {
    font-size: 2rem;
    color: white;

}

#footer {
    width: 100%;
    background-color: black;
    color: white;
}
